body {
    font-family: Calibri;
    font-size: 17px;
}
.topic
{
    font-size: 27px;
    border-bottom: solid 1px rgb(177, 177, 177);
    padding-bottom: 2px;
    margin-top: -7px;
}

.get_sub {
    float: left;
    margin-right: 7px;
}

.l {
    float: left;
}

.r {
    float: right;
}

.cls {
    clear: both;
}

.sub_comps
{
    margin-left: 27px;
}

.progress_bg
{
    position: fixed;
    top: 0px;
    background-color: rgb(27, 51, 165);
    left: 0px;
    opacity: .4;
    height: 4000px;
    width: 4000px;
     z-index: 200;     
}

.sub_scrn_bg
{
    position: fixed;
    top: 0px;
    background-color: rgb(27, 51, 165);
    left: 0px;
    opacity: .4;
    height: 4000px;
    width: 4000px;
     z-index: 98;     
}

.sub_scrn
{
    position: absolute;
    background-color: rgb(240, 240, 240);
    height: 400px;
    width: 400px;
     z-index: 100;  
     border: solid 4px rgb(80, 100, 217);
     border-radius: 17px;  padding: 17px;
}

.sub_scrn_bg2
{
     z-index: 102;     
}

.sub_scrn2 
{
     z-index: 104;
}

.sub_scrn_topic
{
    font-size: 20px;
}

.edit
{
   color: rgb(80, 100, 217);
   cursor: pointer;
}

.edit2
{
    color: rgb(80, 100, 227);
}

.rec_prim
{
    font-size: 22px;
    border-bottom: solid 1px rgb(177, 177, 177);
}


.rec_sub
{
    font-size: 17px;
    margin-top: -7px;
}

.srs
{
    cursor: pointer;
    border-bottom: solid 1px rgb(177, 177, 177);
}

.create_sub_comp_img_content
{    
    max-height: 127px;
     max-width: 127px;
      margin-top: 7px;
       margin-bottom: 7px;
}
.comp {
    float: left;
    border: solid 1px rgb(177, 177, 177);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
}

.comp_img
{
    max-height: 22px;
     max-width: 22px;
      margin-right: 7px;
}

.tree
{
    padding-right: 17px;
    border-right: solid 1px rgb(177, 177, 177);
    float: left;
}
.tree_topic
{
    background-color: rgb(254, 236, 141);
    font-size:22px; 
    padding-left: 7px;
    padding-right: 7px;
}

.create_comp
{
    float: left;
    margin-left: 17px;
    font-size: 17px;
    color: rgb(80, 100, 227);
    margin-top: 7px;
    cursor: pointer;
}

.comp_content
{
    margin-left: -1px;
    padding-left: 17px;
    border-left: solid 1px rgb(177, 177, 177);
    float: left;
}

.edit_comp_img_ 
{
    max-height: 200px;
    max-width: 200px;
}

.edit_comp_img
{
    padding-right: 17px;
    border-right: solid 1px rgb(177, 177, 177);
    float: left;
}

.edit_comp_content
{
    margin-left: -1px;
    padding-left: 17px;
    border-left: solid 1px rgb(177, 177, 177);
    float: left;
} 

.edit_comp_img_choose
{
    color: rgb(82, 122, 227);
}

.sub_comps_0
{
    overflow-y: auto;  margin-top: 7px;
}
.edit
{
    color: rgb(77, 77, 177);
}

.pgt_choose
{
    cursor: pointer;
    color: rgb(77, 77, 177);
}

.filter
{
    margin-top: 2px;
}

.search
{
    margin-top: 2px;
}

.search_img
{
    margin-top: 2px;
    cursor: pointer;
}

.logon
{
    margin-top: 17px;
    padding: 17px;
    border: solid 2px rgb(217, 217, 65);
    border-radius: 7px;
    background-color: rgb(247, 236, 147);

    
    width: 247px;
}

.logon_verify
{
    cursor: pointer;
    margin-top: 0px; margin-left: 100px;
    padding: 4px;
    border: solid 2px rgb(77, 177, 243);
    border-radius: 4px;
    background-color: rgb(77, 188, 243);

    
    width: 47px;
} 