
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/mvc.js"></script>
<link href="~/styles/mvc.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div 
          id = "prim"
    >   
    </div>
    
    <div class='progress_bg'
         id="progress_bg">
    </div>
    <script type="text/javascript">
    progress_stop();
    </script>

    <div class="sub_scrn_bg"
         id="sub_scrn_bg"
         onclick="sub_scrn_stop();">
    </div>

    <div class="sub_scrn"
         id="sub_scrn">
        <div class="sub_scrn_topic"
             id="sub_scrn_topic">
        </div>

        <div class="sub_scrn_content"
             id="sub_scrn_content">
        </div>
    </div>

    <script>
        sub_scrn_stop();
    </script>

    <div class="sub_scrn_bg sub_scrn_bg2"
         id="sub_scrn_bg2"
         onclick="sub_scrn2_stop();">
    </div>

    <div class="sub_scrn sub_scrn2"
         id="sub_scrn2">
        <div class="sub_scrn_topic"
             id="sub_scrn_topic2">
        </div>

        <div class="sub_scrn_content"
             id="sub_scrn_content2">
        </div>
    </div>

    <script>
        sub_scrn2_stop();
    </script>

    <script>
        logon();
    </script>